<div class="root">
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
  </button> Dashboard
  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="false">
      <img src="https://raw.githubusercontent.com/panjiegary/alc-ibm-hackathon/master/src/assets/winners.JPG"/>
    </md-sidenav>
    <div class="app-content">
      <router-outlet>
      </router-outlet>
    </div>
  </md-sidenav-container>
</div>