.root {
    height: calc(100vh - 84px);
}

md-toolbar {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    z-index: 10;
    margin-bottom: 10px;
}

md-sidenav-container {
    height: 100%;
    width: 1500px;
    margin: 0 auto;
}

md-sidenav {
    height: 100%;
    width: 646px;
    padding: 10px;
    min-width: 100px;
}

md-sidenav a {
    width: 100%;
    text-align: left;
}

.app-content {
    padding: 20px;
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: white;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}